<div class="container my-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h1><%= @restaurant.name%></h1>
    </div>
    <div class="card-body">
      <h2 class="card-title">Address: <%=@restaurant.address%></h2>
      <p class="card-text">Category: <%=@restaurant.category.capitalize%></p>
      <p class="card-text">Phone Number: <%=@restaurant.phone_number%></p>
    </div>
    <div class="card-footer bg-light">
      <h3>Reviews:</h3>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item"> <%=review.content%> - Rating: <%=review.rating%></li>
        <% end %>
      </ul>

      <div class="mt-2">
        <%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
      </div>

      <div class="mt-4 text-center">
        <%= link_to 'Back to Home', restaurants_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>

</div>
